@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

//global color variables
$seagreen: #007a7a;
$orange: #de6600;
$offwhite: #ebd9c8;

//media query variables

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 625px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

//border helper
@mixin border($color: "red") {
  border: 1px $color dotted;
}
