@import "../../styles/global";

.HomeText {
  @include border();
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;

  span {
    color: $offwhite;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
