@import "../../styles/global";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .HomeText {
    color: black;
    padding: 0 12px;
    margin: 0;

    span {
      color: $offwhite;
      border-bottom: black 4px dashed;
    }
  }
}
